<h1 class="text-center">Lista de Usuarios</h1>
{{#if users}}
<div class="container d-flex justify-content-center  ">
<ul class="row flex-column my-5">
    {{#each users}}
  <li class="col  card m-3 text-center">
   <p>usuario:  <strong> {{first_name}}  {{last_name}}</strong></p> 
      <p>Email: <strong>{{email}}</strong>  </p>
      <p> Rol : <strong>{{role}} </strong>  </p>
      <p>Carrito ID :<strong>{{cart}}</strong>  </p>
      <p>Ultima conexion :<strong> {{last_connection}}</strong></p> 
           <a class="btn btn-success m-3" onclick="changeRole('{{email}}')">Cambiar Rol</a>
            <a class="btn btn-danger m-3" onclick="deleteUser('{{email}}')">Eliminar usuario y carrito</a>
  </li>
    {{/each}}
</ul>
</div>
{{/if}}
  <button class="btn btn-danger ms-2 my-2" onclick="location.href='/api/sessions/logout'">LOGOUT</button>
    <button class="btn btn-success ms-2 my-2" onclick="location.href='/products'">volver</button>
               <a class="btn btn-danger m-3" onclick="inactiveUser()">Eliminar usuarios inactivos</a>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/admin.js"></script>